@model MVP_App_Dienstintegration.Models.PersonenViewModel

<h3>Bist du sicher das du diesen Eintag löschen willst ?</h3>
<p>Das Löschen ist unwiederruflich!</p>
<div>
    <h4>PersonenViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geschlecht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geschlecht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wohnort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wohnort)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
