@model IEnumerable<MVP_App_Dienstintegration.Models.PersonenViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
			<th>
				@Html.DisplayNameFor(model => model.PK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geschlecht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wohnort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geschlecht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wohnort)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PK }) |
                @Html.ActionLink("Details", "Details", new { id=item.PK }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PK })
            </td>
        </tr>
}
    </tbody>
</table>
